<script async src="//cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/code.js"></script>
<script src="../../css/highlight.css"></script>

<script src="../../js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>

<script>
  hljs.configure({ languages: [] });
  hljs.initHighlightingOnLoad();
</script>

{{ with .Site.Params.footer }}
<hr />
{{ . | markdownify }}
{{ end }}

<span id="reading-statistics" /><span>
  {{ if (ne .Slug "") }}
  <div id="git-comments"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ .Slug }}',
      title: '{{ .Title }}',
      owner: 'n0trace',
      repo: 'n0trace.github.io',
      oauth: {
        client_id: '53f50045d251b5d77435',
        client_secret: '81063a46fbd8ee29c266f15d10c266dfdef6ffed',
      }
    })
    gitment.render('git-comments')
  </script>
  {{ end }}